<a href="https://colab.research.google.com/github/ROHKW/deeplearningproject/blob/master/%EB%85%B8%EA%B2%BD%EC%9A%B0_2020268008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

자료구조와 이해 미션 제출 
09.15. 2020 경영정보학과 노경우

 미션 1.1 구구단 7단 for문으로 출력하기

In [3]:
x = 7
y = 1
for y in range(1,10):
    print(x, "X", y, "=", x*y)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

 미션 1-2 : 위 문제를 while 문을 이용하여 다시 구현하라.

In [4]:
i = 7
j = 1
while j < 10:
    print(i, 'X', j, '=', i*j)
    j +=1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

 미션 1-3 : 구구단 6단을 계산 결과를 역순으로 출력하는 코드를 for문과 while 문을 이용하여 구
현하라.

In [13]:
x = 7
y = 1
for y in range(9,0,-1):
    print(x, "X", y, "=", x*y)

7 X 9 = 63
7 X 8 = 56
7 X 7 = 49
7 X 6 = 42
7 X 5 = 35
7 X 4 = 28
7 X 3 = 21
7 X 2 = 14
7 X 1 = 7

In [17]:
i = 7
j = 9
while j >0:
    print(i, 'X', j, '=', i*j)
    j -=1

7 X 9 = 63
7 X 8 = 56
7 X 7 = 49
7 X 6 = 42
7 X 5 = 35
7 X 4 = 28
7 X 3 = 21
7 X 2 = 14
7 X 1 = 7

 미션 2 : 섭씨 온도를 화씨 온도로 변환하는 함수를 구현하라. 섭씨온도(c), 화씨온도(f)로 변환하
는 수식이다. 화씨온도를 섭씨온도로 변환하는 함수를 구현하라. 
– 화씨온도(f) = 32 + (180/100 * 섭씨온도(c))

In [21]:
def CtoF(c):
    return 32 +(180/100*c)
def FtoC(f):
    return (f-32)*(100/180)
 
print("C to F =",CtoF(20))
print("F to C =", FtoC(20))

C to F = 68.0
F to C = -6.666666666666667

 미션 3-1 : LIST_A = [1, 2, 3, 4] 와 같이 리스트를 선언하고, 이 리스트의 모든 값을 역순으로 출
력하는 코드를 구현하라. 단, 인덱스 값으로는 음수 만을 사용하라.

In [24]:
 
 
LIST_A = [1,2,3,4]
LIST_A.reverse()
print(LIST_A)

[4, 3, 2, 1]

 
미션 3-2 : 이번에는 리스트의 모든 값을 더해 결과를 반환하는 함수를 구현하라.

In [25]:
 
LIST_A = [1,2,3,4]
 
print(sum(LIST_A))

10

 미션 4-1 : 문자열 msg = “Data Structures in Python”를 선언하고, 이 문자열을 먼저 그대로 출
력하고, 다음으로 모두 대문자로 바꿔서 출력하고, 마지막으로 모두 소문자로 바꿔 출력하는 코드
를 작성하

In [29]:
 msg = "Data Structures in Python"
print(msg.upper())
print(msg.lower())

DATA STRUCTURES IN PYTHON
data structures in python

 미션 5-1 : 어느 식당의 음식에 대한 가격 정보를 다음과 같이 딕셔너리로 표현하자. 
price = { ‘콩나물 해장국＇: 4500, ‘갈비탕’ : 9000, ‘돈까스‘ : 8000 }
여기에 새로운 메뉴 ‘팟타이’를 7000원에 추가하고, 모든 메뉴와 가격을 출력하는 코드를 작성해
보라. 
⚫ 미션 5-2 : 위 문제에서 모든 메뉴의 가격을 500원 내리는 코드를 작성해 보라.

In [32]:
price = {'콩나물 해장국': 4500, '갈비탕': 9000, '돈까스': 8000 }
price['팟타이'] = 7000
price

{'갈비탕': 9000, '돈까스': 8000, '콩나물 해장국': 4500, '팟타이': 7000}

 미션 6-1 : 1~n 까지의 숫자를 전부 합하여 반환하는 순환적인 함수를 작성하라. 
1 + 2 + 3+ … + n
⚫ 미션 6-2 : 문자열의 내용을 반대로 바꾸는 순환적인 함수 reverse() 를 구현하라. 예를 들어
reverse(“ABCDE”) 는 “EDCBA”를 반환해야 한다.

In [34]:
 def SumAll(N):
    a = 0
    for n in range(1, N+1):
        a += n
    return a
 
print(SumAll(199))

19900

In [38]:
def RevStl(L):
    print(L[::-1])
 
RevStl("abcdef")

fedcba